/* Color
  Black >> #2B292D
*/

* {
  box-sizing: border-box;
  margin: 0;
}
body,
input,
button {
  font-family: "DM Sans", sans-serif;
}
button {
  border: 0;
  outline: 0;
}
button:hover {
  transform: scale(1.1);
}

.landing {
  padding: 120px, 256px;
  width: 100%;
  height: 568px;
  background-color: #fdded8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing_title {
  max-width: 930px;
  height: 144px;
  font-size: 70px;
  line-height: 1.0285714286;
  font-weight: bold;
  letter-spacing: -0.05em;
  color: #2b292d;
  text-align: center;
  margin-bottom: 32px;
}

.landing_description {
  width: 370px;
  height: 64px;
  text-align: center;
  font-size: 22px;
  line-height: 1.4545454545;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}

.landing_buttons {
  width: 336px;
  height: 56px;
  display: flex;
  justify-content: center;
}
.landing_button1,
.landing_button2 {
  border: 0;
  width: 160px;
  height: 56px;
  border-radius: 2px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5555555556;
  letter-spacing: -0.05em;
  cursor: pointer;
}

.landing_button1 {
  margin-right: 16px;
  color: #fff;
  background-color: #3040c4;
}

.landing_button2 {
  color: #3040c4;
  background-color: #fff;
}

/* Mobile */
@media (max-width: 768px) {
  .landing {
    padding: 15px;
  }
  .landing_title {
    width: 100%;
    height: auto;
    font-size: 40px;
    line-height: 1;
  }
  .landing_description {
    width: 100%;
    height: auto;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: -0.01em;
  }
  .landing_button1,
  .landing_button2 {
    width: 140px;
    height: 48px;
    font-size: 15px;
    line-height: 1.6;
  }
  .service {
    width: 100%;
    height: auto;
    background-color: #f4f5f7;
    padding: 80px 15px;
  }
  .service_title {
    font-weight: bold;
    font-size: 22px;
    line-height: 1.3636363636;
    letter-spacing: -0.04em;
    margin-bottom: 16px;
    color: #2b292d;
  }
  .service_description {
    font-weight: nromal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
  }
  .program {
    width: 100%;
    height: auto;
    padding: 80px 15px;
  }
  .program_header {
    margin-bottom: 32px;
  }
  .program_header_category {
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: -0.01em;
    color: #009b4d;
    margin-bottom: 8px;
  }
  .program_header_title {
    font-size: 34px;
    font-weight: bold;
    line-height: 1.0588235294;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
  }
  .program_header_description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
  }
  .programs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .program_card {
    width: 290px;
    height: 291px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .program img {
    width: 142px;
    height: 195px;
    margin-bottom: 16px;
  }
  .programtitle {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.02;
    font-weight: bold;
  }
  .curriculum {
    padding: 80px 15px;
  }
  .cur_header {
    margin-bottom: 48px;
  }
  .cur_header_category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02;
    font-weight: bold;
    color: #0189d1;
    margin-bottom: 8px;
  }
  .cur_header_title {
    font-size: 34px;
    line-height: 1.0588235294;
    letter-spacing: -0.03;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .cur_header_description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01;
    margin-bottom: 32px;
  }
  .cur_button {
    width: 140px;
    height: 48px;
    background-color: #3040c4;
    color: #fff;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.05;
    font-weight: bold;
  }
  .cur_detail_description {
    font-size: 15px;
    line-height: 1.4666666667;
    letter-spacing: -0.01;
  }
  .up_CDD {
    margin-bottom: 40px;
  }
  .banner {
    padding: 40px 15px;
    background-color: #f2f8fa;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ciaimage {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }
  .ciaimage img {
    width: 190px;
    height: auto;
  }
  .banner_header {
    text-align: center;
    margin-bottom: 24px;
  }
  .banner_header_title {
    text-align: center;
    font-size: 32px;
    letter-spacing: -0.05;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .banner_header_description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01;
  }
  .banner_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner_form_textbox {
    width: 100%;
    height: 48px;
    border: 0;
    border-radius: 2px;
    padding: 2px 16px;
    text-align: left;
    color: #7b7b7e;
    margin-bottom: 8px;
  }
  .banner_form_button {
    width: 100%;
    height: 48px;
    background-color: #3040c4;
    color: #fff;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.05;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .banner_form_text {
    font-size: 13px;
    line-height: 1.5384615385;
    color: #7b7b7e;
  }
  .footer {
    padding: 24px 15px;
    display: flex;
    flex-direction: column;
  }
  .footer a {
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: -0.01;
    margin-bottom: 8px;
    text-decoration: none;
    color: #807f81;
  }
  .footer a:last-child {
    margin-bottom: 0;
  }
}
